# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.UIProjetUnity.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\thibb\Desktop\Cours\M1\S2\Prog 3D\UIProjetUnity\.idea\.idea.UIProjetUnity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
